<!doctype html>
<html>
{% load static %}
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="{% static 'css/mui.min.css' %}" rel="stylesheet" />
	</head>
	<script type="text/javascript">
		function modify() {
			old_password = document.getElementById("old_password").value;
			new_password = document.getElementById("new_password").value;
			again_password = document.getElementById("again_password").value;
			if (old_password=="")
				mui.alert("请输入旧密码");
			else if (new_password=="")
				mui.alert("新密码不能为空");
			else if (again_password=="")
				mui.alert("请再次输入确认密码");
			else if (new_password != again_password)
				mui.alert("再次密码输入的不一致，请检查并重新输入");
			else {
				url = "{% url 'AdminManage:password_modify' %}";
				mui.ajax(url, {
					data: {
						"old_password": document.getElementById("old_password").value,
						"new_password": document.getElementById("new_password").value,
						"csrfmiddlewaretoken": document.getElementsByTagName('input')[0].value
					},
					type: "POST",
					dataType: "text",
					success: function(data) {
						if (data == "1") {      // 修改成功
							mui.alert("密码修改成功");
							document.getElementById("old_password").value = "";
							document.getElementById("new_password").value = "";
							document.getElementById("again_password").value = "";
						} else if (data == "2")   // 密码不正确
							mui.alert("旧密码不正确");
						else
							mui.alert("服务器繁忙，请稍后重试")
					}
				});
			}
		}
	</script>
	<style type="text/css">
		form {
			margin-top: 20px;
		}
	</style>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-back"></a>
			<h1 class="mui-title">密码修改</h1>
		</header>
		
		<div class="mui-content">
			<form class="mui-input-group">
				{% csrf_token %}
				<div class="mui-input-row">
					<label>旧密码</label>
					<input type="password" id="old_password" class="mui-input-password" placeholder="旧密码" value="" />
				</div>
				
				<div class="mui-input-row">
					<label for="">新密码</label>
					<input type="password" id="new_password" class="mui-input-password" placeholder="新密码" value="" />
				</div>
				
				<div class="mui-input-row">
					<label>确认密码</label>
					<input type="password" id="again_password" class="mui-input-password" placeholder="确认密码" value="" />
				</div>
			</form>
			<div class="mui-content-padded">
				<button type="button" class="mui-btn mui-btn-block mui-btn-primary" onclick="modify()">修改</button>
			</div>
		</div>
		<script src="http://apps.bdimg.com/libs/mui/2.8.0/js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>